body {
    margin:             auto;
    height:             100%;
    width:              100%;
    margin-bottom:      0!important;
    padding-bottom:     0!important;
}

html {
    height:             100%;
    width:              100%;
}

.container1
{
    margin:             auto;
    width:              100%;
    height:             100%;
    padding-left:       5%;
    padding-right:      5%;
    overflow:           auto;
}

#tchat
{
    width:          100%;
    height:         60%;
    border :        1px solid black;
    padding-left:   5px;
    overflow-y:     auto;
    overflow-x:     hidden;
}

textarea {
    margin-top:     20px;
    width:          100%;
    resize:         none;
}

#submit {
    width:          100%;
}

#monTchat {
    height:         30%;
}


